<h3>Excercise 6</h3>

<h3>Backbone Models</h3>

<script type="text/javascript">

  var movieApp = movieApp || {};

  movieApp.movieModel = Backbone.Model.extend({
    url: "http://www.omdbapi.com/?t=She%27s+All+That&y=&plot=short&r=json",
    initialize: function() {
      console.log("the model is ready");
      // when the model data changes.. let's fire an event
      this.on("change", function(event) {
        // change event implements a design pattern
        // called Object.observe()
        console.log("dude... the model... whoa .. it changed");
      });
    }
  });

  var movie = new movieApp.movieModel();
  movie.fetch();

</script>
